<div class="some-component {{ modifier_class("some-component", modifier) }} {{ attributes.class }}"{{ attributes|without("class") }}>
  <h2 class="some-component__headline">{{ headline }}</h2>
  <div>
    {{ text }}
  </div>
</div>
